@font-face {
  font-family: 'SUITE';
  src:
    url('../assets/fonts/SUITE-Variable.woff2') format('woff2'),
    url('../assets/fonts/SUITE-Variable.woff') format('woff'),
    url('../assets/fonts/SUITE-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src:
    url('../assets/fonts/HSSanTokki2.0\(2024\).woff2') format('woff2'),
    url('../assets/fonts/HSSanTokki2.0\(2024\).woff') format('woff'),
    url('../assets/fonts/HSSanTokki2.0\(2024\).ttf') format('truetype');
}
